<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-mail</title>
</head>
<body>
    Dear {{drData.name}},
<br><br>
We are thrilled to inform you that your account has been successfully created on Health Empire! Welcome to our community, and thank you for choosing us.
<br><br>
Here are the details of your new account:
<br><br>
Username: {{drData.username}}
<br>
Email: {{drData.email}}
<br><br>
With your new account, you can now take advantage of all the features and benefits we offer, including:
<br><br>
<ul>
    <li>Create Profile</li>
    <li>Online Appointment Boking</li>
    <li></li>
</ul>
To get started, simply log in to your account using your username and password. If you need any assistance, our support team is here to help. You can reach us at [Support Email] or 9156429156.
<br><br>
We encourage you to explore our <a href="http://www.healthempite.in">www.healthempite.in</a> and familiarize yourself with the services we provide. If you have any questions, please do not hesitate to contact us.
<br><br>
Thank you for joining Health Empire. We look forward to serving you and helping you achieve your goals.
<br><br>
Best regards,
<br><br>
Health Empire
<div class="address">
    <p>Vidya corner super market building</p>
    <p>office no - 03</p>
    <p>Baramati midc 413102</p>
  </div>
9156429156
<br>
www.healthempite.in
</body>
</html> 