
<div class="info_card">
    <h4>This card is in under Development</h4>

    <h3 class="card_title">Review Form</h3>

    <div id="reviewForm" style="margin-top: 1.5rem;margin-left: 1rem;">
    
      <p style="font-weight: 500;">Question 1: Was the staff friendly and helpful?</p>
      <input type="radio" id="q1_yes" name="question1" value="yes">
      <label for="q1_yes">Yes</label>
      <input type="radio" id="q1_no" name="question1" value="no">
      <label for="q1_no">No</label>
      <br><br>
    
      <p style="font-weight: 500;">Question 2: Did you receive satisfactory treatment?</p>
      <input type="radio" id="q2_yes" name="question2" value="yes">
      <label for="q2_yes">Yes</label>
      <input type="radio" id="q2_no" name="question2" value="no">
      <label for="q2_no">No</label>
      <br><br>
    
      <input type="submit" value="Submit Review" class="button">
    </div>
</div>