
<style>

</style>

<div id="documentCardsi">
    <!-- Dynamic content will be added here -->
</div>

<script>
    
    function populateCardsi(insurance) {
        var cardsContaineri = document.getElementById("documentCardsi");
        insurance.forEach(function(item) {
            var cardi = document.createElement('div');
            cardi.className = 'card';

            
                var cardContenti = `
                    <h3>${item.title}</h3>
                    <p>${item.sub_title}</p>
                    <a href="${item.Document}">Download Document</a>
                    <img src="${item.title_img}" alt="${item.title}">
                    <button onclick="deleteinsurance(${item.id})">delete</button>
                `;
           
            cardi.innerHTML = cardContenti;
            
            cardsContaineri.appendChild(cardi);
        });
    }
    function setinsurance(data){
        
        var insurance=data;
        if (Boolean(insurance.length>0)){
            populateCardsi(insurance);

        }
        else{
            var cardsContaineri = document.getElementById("documentCardsi");
            var cardi = document.createElement('div');
            cardi.innerHTML = "Insurance not Added yet <br><br>";
            
            cardsContaineri.appendChild(cardi);
        }
    }
    // Call the function to populate the cards
    
</script>

</body>
</html>
