{% load static %}
{% include "header.html" %}
<title>Medical Storage Search</title>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.js"></script>

<style>
  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

  * {
    font-family: "Poppins", sans-serif;
  }

  .main_sdiv {
    /* font-family: Arial, sans-serif; */
    margin-bottom: -2rem;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    {% comment %} background-color: #f2f2f2; {% endcomment %}
  }

  .search-container {
    text-align: center;
    margin-bottom: 0;
  }

  .search-container h2 {
    margin-bottom: 1rem;
  }

  input {
    padding: 10px;
    width: 20rem;
    font-size: 16px;
    border: 1px solid #ccc;
  }

  button {
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
  }

  #suggestions {
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 200px;
    overflow-y: auto;
    border: 2px solid #ccc;
    border-top: none;
  }

  .suggestion-item {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .suggestion-item:hover {
    background-color: #ddd;
  }

  .gradient-container {
    position: relative;
    width: 100%;
    height: 400px;
    background: linear-gradient(to right, rgba(53, 153, 241, 0.777), rgba(255, 255, 255, 0.5)),
    url("{% static 'medicalstore.png' %} ");
    background-size: cover;
    background-position: center;
    color: #125953;
    ;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
  }
  .sresult{
    width: 100%;
    height: 70vh;
    background-color: #f2f2f2;
    overflow-y: scroll
  }
  .profile_card{
    height: max-content;
    display: flex;
    justify-content: center;
    padding: 2rem;
    margin: 1rem;
    background-color: #bebebe;
    box-shadow: 2px 2px 2px rgba(67, 67, 67, 0.551);
    transition-duration: 0.3s;
    border-radius: 10px;
  }
  .profile_card:hover{
    background-color: #acababc3;
    box-shadow: 4px 4px 2px rgba(67, 67, 67, 0.551);
  }
  .img_div{
    margin: 5px;
    padding: 8px;
    border-radius: 50%;
    /* overflow: hidden; */
  }
  .context_div{
    margin: 5px;
    padding: 8px;
  }
  
  input{
    width: 100%;
  }

  /* @media screen and (max-width: 500px) {
    input {
      width: 15rem;
    }
  }

  @media screen and (max-width: 400px) {
    input {
      width: 10rem;
    }
  } */
</style>
<main>
  <div class="gradient-container">
    <div class="content">
      <h1><span class="translate">Medical Store</span></h1>
    </div>
  </div>

  <div class="main_sdiv">
    <div class="search-container">
      <h2><span class="translate">Medical Store Search</span></h2>
      
        <div class="input-group">
          <input type="text"  placeholder="location" id="locationInput1">
          <div id="location_suggestions1" class="suggestions"></div>
          <button type="button" id="search"><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
      
    </div>
  </div>
    
  
  {% include "serach_result_cards.html" %}
  {% include "footer.html" %}
</main>
  <script>

    $(document).ready(function () {
      $('#search').click(function () {
        var info = document.getElementById('locationInput1').value;
        $.ajax(
          {
            url: '/SearchMedicalStores/',
          method: 'GET',
          data: { data: JSON.stringify(info) },
          success: function (response) {
            console.log(response)
            var message="No Medical Store are available at this location. Please try a different location.";
              check(response["MedicalStorage_list"],message);
            setData(response["MedicalStorage_list"]);
          },
          error: function (error) {
            alert('Error saving events!');
          }
        }
        )
      });
    });
    </script>
    <script>
      const location_searchInput1 = document.getElementById('locationInput1');
         const location_suggestions1 = document.getElementById('location_suggestions1');
         location_searchInput1.addEventListener('input', function () {
             const query = this.value.trim();
             if (query === '') {
                 suggestions.style.display = 'none';
                 return;
             }
    
             const suggestionsData = ["Baramati", "Indapur", "Phaltan", "Akluj", "Natepute", "Bhigwan"];
             const filteredSuggestions = suggestionsData.filter(word => word.toLowerCase().includes(query.toLowerCase()));
    
             renderSuggestions(filteredSuggestions, location_suggestions1, location_searchInput1);
         });
         
    
         function renderSuggestions(suggestionsArray, suggestions, searchInput) {
             if (suggestionsArray.length === 0) {
                 suggestions.style.display = 'none';
                 return;
             }
             suggestions.innerHTML = '';
             suggestions.style.display = 'block';
             suggestionsArray.forEach(suggestion => {
                 const div = document.createElement('div');
                 div.classList.add('suggestion');
                 div.textContent = suggestion;
                 div.addEventListener('click', () => {
                     searchInput.value = suggestion;
                     suggestions.style.display = 'none';
                 });
                 suggestions.appendChild(div);
             });
         }
    </script>
</body>

</html>