{% include "header.html" %}
<style>
  
  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

  *{
    font-family: "Poppins", sans-serif;
  }
  
  body {
    
    background-color: white;
   
   
  }

  .header {
    background-color: #333;
    color: white;
    padding: 1em;
    text-align: center;
 
  }

  #dashboard {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 2em;
  }

  .card {
    margin: 1em;
    width: 18rem;
  }

  .details {
    display: none;
  }

  .container1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;

    position: relative;
    top: 6rem;
    padding-top: 1rem;
    width: 90%;
   background-image: url("https://img.freepik.com/free-vector/medical-healthcare-blue-color_1017-26807.jpg?w=1060&t=st=1709219619~exp=1709220219~hmac=8908d6bf78e1156bed362b60b7d1250ee91ee94413aee2a036c584065ade0054");
    box-shadow: 2px 2px 4px rgb(66, 66, 66);
    background-size: cover;
    /* background-color: #4CAF50; */

    padding-bottom: 1rem;
    padding: 1rem;
  }

  .pd_dic1 {
    width: 8rem;
    height: 8rem;
    overflow: hidden;
    border-radius: 50%;
  }

  .patient-img {
    width: 100%;
    height: 100%;
    object-fit: cover;

  }

  .pd_dic2 {
    width: 70%;
  }

  .container2 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .top {
    display: flex;

    justify-content: center;
  }

  .card-div {
    position: relative;
    top: 4rem;
    width: 90%;
    height: 21rem;
    margin-bottom: 1rem;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 0 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
   

  }
  /* .card-div:nth-child(2){
    flex-direction: row-reverse;
    
  } */
  
  .card-div img {
    width: 30vw;
    


  }

  .card-div:hover {
    transform: scale(1.01);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }

  .btn-success {
    margin-top: 2.8rem;
    border: none;
    background-color: #1bba9a;
  }

  .profile-picture {
    transition-duration: 0.5s;
  }

  .profile-picture:hover {
    transform: scale(1.02);
  }

  @media screen and (max-width: 1300px) {
    .card-div {
      width: 90%;
    }
  }
  @media screen and (max-width: 1020px){
    .card-div:nth-child(1){
      height: 28rem;
    }
  }
  @media screen and (max-width: 920px){
    .card-div:nth-child(1){
      height: 26rem;
    }
  }
  @media screen and (max-width:860px) {
    .card-div img:nth-child(1){
      position: relative;
     right: 1.9rem;
     
    }
  }
  @media screen and (max-width:800px) {
    .container1 {
      top: 6rem;
      width: 85%;
    }

    .patient-info-container {
      margin-top: 1rem;

    }

    .card-div img {
      width: 20vw;


    }

  }

  @media screen and (max-width:750px) {
    .card-div img {
      width: 40vw;


    }
    .card-body{
      
    }
  }

 
 
  
  @media screen and (max-width: 500px) {
    .patient-info-container {

      text-align: center;
    }

  }
  @media screen and (max-width:480px) {
    .card-div {
      flex-direction: column;
      
      height: 23rem;
    }
    .card-div:nth-child(1){
      height: 35rem;
    }
    .card-div:nth-child(2){
      height: 29rem;
    }
    .btn-success {
      margin-top: 0.5rem;
    }

    .card-div img {
      width: 50vw;
      left: 1%;
      


    }
    
  }
 
  @media screen and (max-width:350px){
    .card-div:nth-child(1){
      height: 35rem;
    }
    .card-div:nth-child(2){
      height: 30rem;
    }
    .container1{
      top: 8rem;
      padding: 0;
      
    }
    .card-div{
      top: 6rem;
     
     
    }
 .btn-success{
  width: 85%;
  font-size: .8rem;
 }
 .card-div:nth-child(3){
height: 25rem;

 }
  }
  @media screen and (max-width:300px){
    .card-div{
      width: 99%;
      display: block;
   height: 20rem;
      
    }
    .card-div img{
      display: none;
    }
  }

  
</style>
<main>

  {% if request.user.is_authenticated %}
  <div class="top">
    <div class="container1">
      <div class="pd_dic1">
        <!-- Left side: Profile Picture -->
        <img class="patient-img"
          src="{{request.user.patients.get.profile_picture.url }}"
          alt="">
      </div>
      <div class="pd_dic2">
        <!-- Right side: Patient Information -->
        <div class="patient-info-container">
          <h4>Patient Information</h4>
          <h3><strong>{{request.user.patients.get.name }}</strong></h3>
          <p><strong>User Name:</strong> {{request.user}}</p>
        </div>
      </div>
    </div>
  </div>

  <div id="dashboard" class="container2">
    <div class="card card-div">
      <div class="card-body">
        <h2 class="card-title">Patient Information</h2>
        <p class="card-text">Name:{{request.user.patients.get.name}}</p>
        <p class="card-text">Age: {{request.user.patients.get.contact_no}}</p>
        <p class="card-text">
          Gender: {{request.user.patients.geti.contact_no}}
        </p>
        <p class="card-text">
          Address: {{request.user.patients.get.contact_no}}
        </p>
        <p class="card-text">Email: {{request.user.email}}</p>
        <p class="card-text">Username : {{request.user.username}}</p>
        <p class="card-text">
          Contact: {{request.user.patients.get.contact_no}}
        </p>
      </div>
      <div class="img">
        <img
          src="https://img.freepik.com/free-vector/hospital-service-concept-flat-illustration_1150-50287.jpg?t=st=1709051892~exp=1709055492~hmac=8bc95cbe2be3d4b4a1bf4825192b4b6ff1b82b2c8dc117798b82bb8b839f21d6&w=996"
          alt="">
      </div>
    </div>
    <div class="card card-div">
      <div class="card-body">
        <h2 class="card-title">Medical History</h2>
        <p class="card-text">Diagnosis: Hypertension</p>
        <p class="card-text">Medications: Lisinopril</p>
        <p class="card-text">Last Visit: 2024-01-01</p>
        <button class="btn btn-primary" onclick="toggleDetails()" style="background-color: #1bba9a;border: none;" >
          Show Details
        </button>
        <div class="details">
          <p>Additional details about medical history go here.</p>
        </div>
      </div>
      <div class="img">
        <img
          src="https://img.freepik.com/free-vector/doctors-conducting-dialysis-procedure-kidney-treatment_74855-10607.jpg?t=st=1709052765~exp=1709056365~hmac=d92b12ccb3c6a5b1231e967b5720f358decb98056ad53b7a601983beb9e2eae7&w=996"
          alt="">
      </div>
    </div>

    <div class="card card-div">
      <div class="card-body">
        <h2 class="card-title">Appointments</h2>
        <p class="card-text">Next Appointment: 2024-02-01</p>
        <p class="card-text">Doctor: Dr. Smith</p>
        <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#appointmentModal">
          Schedule Appointment
        </button>
      </div>
      <div class="img">
        <img
          src="https://img.freepik.com/free-vector/call-doctor-concept-doctors-answer-patient-questions-phone_1150-50289.jpg?t=st=1709044292~exp=1709047892~hmac=ac08e3eed6a3f28a1ee2d1c92c828adfb4be02199acff7d0720ecee711aa9b4f&w=1060"
          alt="">
      </div>
    </div>
  </div>

  <!-- Appointment Modal -->
  <div class="modal fade" id="appointmentModal" tabindex="-1" aria-labelledby="appointmentModalLabel"
    aria-hidden="true">
    <br><br><br>
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          
          <h5 class="modal-title" id="appointmentModalLabel">
            Schedule Appointment
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
              <label for="appointmentDate" class="form-label">Date</label>
              <input type="date" class="form-control" id="appointmentDate" required />
            </div>
            <div class="mb-3">
              <label for="doctorName" class="form-label">Doctor Name</label>
              <input type="text" class="form-control" id="doctorName" required />
            </div>
            <button type="submit" class="btn btn-primary">Schedule</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  {% endif %} {% include "footer.html" %}
</main>
<!-- Add Bootstrap JS and Popper.js (required for Bootstrap) -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.3/dist/js/bootstrap.bundle.min.js"></script>
<script>
  function toggleDetails() {
    const details = document.querySelector(".details");
    details.style.display =
      details.style.display === "none" || details.style.display === ""
        ? "block"
        : "none";
  }
</script>