<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
		@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
	font-family: "Poppins", sans-serif;
}body {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100vh;
		text-align: center;
	}

	.center {
		width: 35rem;
	}

	.card{
		/* padding: 30px; */
      height: max-content;
      /* border-bottom: 5px solid #12a8ae;
	  border-left:1px solid #12a8ae;
	  border-right:1px solid #12a8ae;
	  border-top:1px solid #12a8ae; */
        /* width: 90%; */

        /* margin: auto; */
        /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
        background-color: white;
        padding: 20px;
        border-radius: 0px;
        margin-bottom: 10px;
		
	}
	/* .card:hover {
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    } */
	.text-center{
		background-color: #12a8ae;
		padding: 10px;
	}
	.submit{
	border-radius: 0;
	padding:.5rem 1rem;
	border: none;
	text-decoration: none;
	background-color: blue;
	
	color: black;
	font-size: 1rem;
	width: 40%;
	color:white;
}
img{
	width: 30%;
}


@media (max-width:668px) {

.center {

	width: 75%;
}
.submit{
	font-size: .7rem;
	width: 70%;
}
img{
	width: 40%;
}


}
</style>
<div class="center">
	<form method="post" class="card">
	  {% csrf_token %}
	  <img src="https://img.freepik.com/free-vector/secure-login-concept-illustration_114360-4320.jpg?t=st=1719653083~exp=1719656683~hmac=f31cfa33968a158dd85847a8e817164253734400010578d5a85e3a6e92b894fd&w=740" alt="">
	  <h2>Reset You Password</h2>
	  
	  {% for field in form %}
	    		{{ field.label_tag }} 
	        	{{ field }} <br> <br>
	        	{% if field.errors %}
	        		<small style="color:red;">{{ field.errors|striptags  }}</small> 
	        	{% endif %}
		{% endfor %}
	  
	  <div>
	    <button type="submit" class="btn btn-primary submit">Change Password</button>
	  </div>
	</form>
</div>