<style>
	.center{
		display:flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100vh;
	}
	.card{
		/* padding: 30px; */
      height: max-content;
      border-bottom: 5px solid #12a8ae;
	  border-left:1px solid #12a8ae;
	  border-right:1px solid #12a8ae;
	  border-top:1px solid #12a8ae;
        /* width: 90%; */

        /* margin: auto; */
        /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
        background-color: white;
        padding: 20px;
        border-radius: 0px;
        margin-bottom: 10px;
		
	}
	.card:hover {
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }
	.text-center{
		background-color: #12a8ae;
		padding: 10px;
	}
</style>
<div class="center">
	<form method="post" class="card">
	  {% csrf_token %}
	  <h2>Password Reset Confirm</h2>
	  
	  {% for field in form %}
	    		{{ field.label_tag }} 
	        	{{ field }}
	        	{% if field.errors %}
	        		<small style="color:red;">{{ field.errors|striptags  }}</small> 
	        	{% endif %}
		{% endfor %}
	  
	  <div>
	    <button type="submit" class="btn btn-primary">Chenge Password</button>
	  </div>
	</form>
</div>