<meta name="viewport" content="width=device-width, initial-scale=1.0">

<style>
	@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
	font-family: "Poppins", sans-serif;
}
	body {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100vh;
		
	}

	.center {
		width: 35rem;
	}

	.card {

		height: max-content;
		border-bottom: 5px solid #12a8ae;
		border-left: 1px solid #12a8ae;
		border-right: 1px solid #12a8ae;
		border-top: 1px solid #12a8ae;

		background-color: white;
		padding: 20px;
		border-radius: 0px;


	}

	.card:hover {
		box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
	}

	.text-center {
		background-color: #12a8ae;
		padding: 10px;
		font-weight: 500;
	}
.submit,.cancel{
	border-radius: 0;
	padding:.5rem 1rem;
	border: none;
	text-decoration: none;
	background-color: #12a8ae;
	margin-right: 1rem;
	color: black;
	font-size: 1rem;
}
	@media (max-width:668px) {

		.center {

			width: 75%;
		}
		.submit,.cancel{
			font-size: .8rem;
		}



	}
</style>
<div class="center">
	<form method="post" class="card">
		{% csrf_token %}
		
		<h2 class="text-center">Reset Password</h2>
		{% for field in form %}
		{{ field.label_tag }}
		{{ field }}
		{% if field.errors %}
		<small style="color: red;">{{ field.errors|striptags }}</small>
		{% endif %}
		{% endfor %}
		<br><br>
		<div class="form-buttons">
			<input type="submit" value="Send" class="btn btn-primary submit">
			<a href="{%url 'drsignin' %}" class="btn btn-outline cancel">Cancel</a>
		</div>
	</form>
</div>