<meta name="viewport" content="width=device-width, initial-scale=1.0">

<style>
	@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
	font-family: "Poppins", sans-serif;
}
	body {
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		align-items: center;
		height: 100vh;
	}

	.center {
		width: 35rem;
	}
	.submit{
	border-radius: 0;
	padding:.5rem 1rem;
	border: none;
	text-decoration: none;
	background-color: blue;
	
	color: black;
	font-size: 1rem;
	width: 40%;
}
img{
	width: 30%;
}
	@media (max-width:668px) {

.center {

	width: 75%;
}
.submit{
	font-size: .8rem;
	width: 50%;
}
img{
	width: 45%;
}


}
</style>
<div class="card center">
<img src="https://img.freepik.com/free-vector/shield-shape-recycle-arrows_78370-5590.jpg?t=st=1719652858~exp=1719656458~hmac=6b5195b41b822203a93e3cf925f0c8c39efcb8f5d7a42965e9ec2682f0240c72&w=740" alt="">
	<h3>Password Changed!</h3>
	<p>Your password has been changed successfully </p>
	<button class="submit"><a href="{% url 'drsignin' %}" type="button" style="text-decoration: none; color: white;">Back to log in</a></button>
</div>
 	