<meta name="viewport" content="width=device-width, initial-scale=1.0">

<style>
	@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
	font-family: "Poppins", sans-serif;
}
	body {
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		align-items: center;
		height: 100vh;
		
	}

	.center {
		width: 35rem;
	}
	.h2{
	font-size: 1.5rem;
	padding: 0rem 1rem;
	text-align: left;
}
.p{
	font-size: 1rem;
	padding: 0rem 1rem;
}
.center{
	display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		align-items: center;
	height: 40%;
	
}
img{
		width: 30%;
	}

	@media (max-width:668px){

/* .h2{
	font-size: 2rem;
}
.p{
	font-size: 1.1rem;
} */
img{
	width: 40%;
}
.center{
	width: 70%;
}

	}
	

</style>

<div class="center card ">
	<img src="https://img.freepik.com/free-vector/email-campaign-concept-illustration_114360-1681.jpg?t=st=1719653962~exp=1719657562~hmac=e3a8093196bf8e9d0da21c95a0f6ac8052aef5d42d4e253772bbc59c33ef2daa&w=740" alt="">
	<h3 class="h2" style="color:red;">Reset Password...</h3>
	<p class="p">Please check your inbox and follow the instruction to reset your password.</p>
</div>
